{% extends 'partial/main.html' %}
{% load static %}
{% block content %}


{% if profile %}
    {{profile.user}}
    {{profile.bio}}
    {% if profile.profile_picture %}
    <img src="{{profile.profile_picture.url }}" alt="">
    {% else %}
    fghf
    {% endif %}

    {% for post in pic %}
        <img src="{{post.image.url}}" alt="" height="100">


    {% endfor %}

{% endif %}
{% if following %}
<form action="{% url 'unfollow' profile.user.username %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Unfollow </button>
</form>
{% else%}
<form action="{% url 'follow' profile.user.username %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Follow </button>
</form>
{% endif %}

{{request.user}}

{% endblock content %}