{% extends 'partial/main.html' %}
{% load static %}
{% block content %}


<style>
    .searched-place b a {
        text-decoration: none;
        color: black;
    }

    .searched-place b a:hover {
        text-decoration: underline;
    }
</style>

<div class="container">
    <div class="row">


    {% if searched %}
        {% for user in users %}

        
            <div class="searched-place">
                {% if user.profile.profile_picture %}
                <img src="{{user.profile.profile_picture.url}}" alt=""  width="13%" style="height: 70%;" class="rounded-circle"> &nbsp; <b><a href="{% url 'profile' user.username %}">@{{user.username}}</a></b>  <br>
                {% else %}
                <img src="{% static 'media/profile_picture/download.jpg' %}" alt=""  width="13%" style="height: 70%;" class="rounded-circle">  &nbsp; <b><a href="{% url 'profile' user.username %}">@{{user.username}}</a></b>  <br>
                {% endif %}
            </div>
           

        {% endfor %}


{% endif%}
    </div>    


</div>


{% endblock content %}